@import "_config.scss";

@import "header/_headerMain.scss";
@import "footer/_footerMain.scss";
@import "contact/_contact.scss";

body{
	margin: 0;
	padding: 0;
	background: #555555;
	color: $textColor;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.clearBoth{
	clear: both;
}