header#header {
  background: #ffffff;
  text-transform: uppercase;
  height: 120px;
  position: relative;
  border-bottom: thin solid #212121;
}
@media screen and (max-width: 920px) {
  header#header {
    height: 60px;
  }
}
header#header a#logo {
  padding: 20px 50px;
  display: inline-block;
  text-decoration: none;
  color: #16559f;
}
header#header a#logo img {
  width: 150px;
  vertical-align: bottom;
}
header#header a#logo div.logoTitle {
  padding: 5px;
  display: inline-block;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
  letter-spacing: 2px;
}
header#header a#logo div.logoTitle div {
  padding: 2px;
  border-top: 2px solid #16559f;
  font-size: 12px;
  text-align: center;
  letter-spacing: 7px;
}
@media screen and (max-width: 920px) {
  header#header a#logo {
    padding: 10px 25px;
  }
  header#header a#logo img {
    width: 75px;
  }
  header#header a#logo div.logoTitle {
    font-size: 15px;
  }
  header#header a#logo div.logoTitle div {
    font-size: 7px;
  }
}
header#header nav#navHeader {
  width: 50%;
  margin-top: 30px;
  float: right;
}
header#header nav#navHeader a {
  text-decoration: none;
  color: #212121;
}
header#header nav#navHeader .aLike {
  cursor: pointer;
}
header#header nav#navHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header#header nav#navHeader > ul .home.navItem0:hover {
  margin-left: -20px;
}
header#header nav#navHeader > ul .services.navItem1 {
  margin-left: 150px;
  margin-top: -30px;
}
header#header nav#navHeader > ul .services.navItem1:hover {
  margin-left: 130px;
}
header#header nav#navHeader > ul .contact.navItem2 {
  margin-left: 300px;
  margin-top: -30px;
}
header#header nav#navHeader > ul .contact.navItem2 a {
  color: #ffffff;
}
header#header nav#navHeader > ul .contact.navItem2:hover {
  margin-left: 280px;
}
header#header nav#navHeader > ul li {
  transition: 300ms ease;
}
header#header nav#navHeader > ul li a, header#header nav#navHeader > ul li .aLike {
  display: block;
  height: inherit;
  width: inherit;
  padding: 10px 30px;
  font-size: 16px;
}
header#header nav#navHeader > ul li .subMenuToggle {
  display: block !important;
}
header#header nav#navHeader > ul li ul {
  display: none;
  width: 100vw;
  background: #ffffff;
  position: absolute;
  top: 100%;
  border-bottom: thin solid #212121;
  border-top: thin solid #212121;
  left: 0;
  text-align: center;
}
header#header nav#navHeader > ul li ul li {
  display: inline-block;
}
header#header nav#navHeader > ul li ul li a {
  display: inherit;
  padding: 15px 25px;
  font-size: 12px;
}
header#header nav#navHeader > ul li ul li a:hover {
  text-decoration: underline;
}
header#header nav#navHeader .hamburger {
  display: none;
}
@media screen and (max-width: 920px) {
  header#header nav#navHeader .hamburger {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  header#header nav#navHeader .hamburger .hamburger-inner, header#header nav#navHeader .hamburger .hamburger-inner::after, header#header nav#navHeader .hamburger .hamburger-inner::before {
    background: #212121;
  }
  header#header nav#navHeader > ul {
    position: fixed;
    top: 0;
    right: -80px;
    z-index: 10;
    width: 80px;
    height: 100vh;
    margin-top: 60px;
    transition: 300ms ease;
  }
  header#header nav#navHeader > ul > li {
    margin: 0 !important;
    position: relative;
  }
  header#header nav#navHeader > ul > li::after, header#header nav#navHeader > ul > li::before {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  header#header nav#navHeader > ul > li::before {
    border-width: 0 0 20px 80px;
    bottom: 100%;
  }
  header#header nav#navHeader > ul > li::after {
    border-width: 0 80px 20px 0;
    top: 100%;
  }
  header#header nav#navHeader > ul > li.home.navItem0::before {
    border-color: transparent transparent #f8be52 transparent;
  }
  header#header nav#navHeader > ul > li.home.navItem0::after {
    border-color: transparent #f8be52 transparent transparent;
  }
  header#header nav#navHeader > ul > li.services.navItem1::before {
    border-color: transparent transparent #8a97c6 transparent;
  }
  header#header nav#navHeader > ul > li.services.navItem1::after {
    border-color: transparent #8a97c6 transparent transparent;
  }
  header#header nav#navHeader > ul > li.contact.navItem2::before {
    border-color: transparent transparent #16559f transparent;
  }
  header#header nav#navHeader > ul > li.contact.navItem2::after {
    border-color: transparent #16559f transparent transparent;
  }
  header#header nav#navHeader > ul > li a {
    margin: 20px 0;
  }
  header#header nav#navHeader > ul > li .aLike {
    margin: 40px 0;
  }
  header#header nav#navHeader > ul > li a, header#header nav#navHeader > ul > li .aLike {
    padding: 30px 5px;
  }
  header#header nav#navHeader > ul > li.toggled {
    transform: translateX(-220px);
  }
  header#header nav#navHeader > ul > li ul {
    height: inherit;
    width: 220px;
    height: 125px;
    margin-top: -20px;
    position: absolute;
    left: 100%;
    top: 0;
    background: #8a97c6;
    border: none;
    display: block;
  }
  header#header nav#navHeader > ul > li ul li a {
    margin: 0;
    padding: 5px 0;
    height: 40px;
    line-height: auto;
  }
  header#header nav#navHeader ul.is-active {
    right: 0;
  }
}

footer.footer {
  background-color: #8a97c6;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
footer.footer ul {
  list-style: none;
}
footer.footer ul a {
  text-decoration: none;
  color: #212121;
}
footer.footer ul a:hover {
  text-decoration: underline;
}
footer.footer ul li.title {
  font-size: 20px;
  text-decoration: underline;
}
footer.footer > ul > li {
  display: inline-block;
}

main#index {
  color: #ffffff;
  text-align: center;
}
main#index section.head {
  background-image: url(../images/headerIndex.jpg);
  background-size: cover;
  background-position: 50% 0;
  min-height: 90vh;
}
main#index section.head .darker {
  background-color: rgba(0, 0, 0, 0.2);
  height: inherit;
}
main#index section.head .darker h1, main#index section.head .darker h2 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px black;
}
main#index section.head .darker h1 {
  font-size: 100px;
  font-weight: 200;
  width: 575px;
  margin: 0 auto;
  padding-top: 200px;
  border-bottom: 3px solid;
}
main#index section.head .darker h2 {
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 35px;
  padding-left: 30px;
  margin-top: 2vh;
  margin-bottom: 10vh;
}
main#index section.head .darker p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 150px;
  text-align: justify;
  margin: 0;
}
main#index section.head .darker p a {
  color: inherit;
  display: block;
  text-align: center;
}
main#index section.head .darker p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 920px) {
  main#index section.head .darker h1 {
    font-size: 70px;
    width: 420px;
    border-bottom: 2px solid;
  }
  main#index section.head .darker h2 {
    font-size: 30px;
    letter-spacing: 25px;
  }
  main#index section.head .darker p {
    font-size: 14px;
    padding: 20px 75px;
  }
}
@media screen and (max-width: 640px) {
  main#index section.head .darker h1 {
    font-size: 50px;
    width: 300px;
  }
  main#index section.head .darker h2 {
    font-size: 20px;
    letter-spacing: 18px;
  }
  main#index section.head .darker p {
    padding: 20px 10px;
  }
}
main#index section.services {
  background-color: #16559f;
  padding-top: 10px;
  padding-bottom: 30px;
}
main#index section.services h3 {
  font-size: 40px;
  text-transform: uppercase;
}
main#index section.services div.imagesServices div {
  position: relative;
  margin-bottom: 20px;
}
main#index section.services div.imagesServices div a {
  display: inline-block;
  background-color: #000000;
}
main#index section.services div.imagesServices div a:hover img {
  -webkit-filter: blur(3px);
  opacity: 0.2;
}
main#index section.services div.imagesServices div a img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
main#index section.services div.imagesServices div a span {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px black;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 640px) {
  main#index section.services div.imagesServices div {
    height: 100px;
    overflow: hidden;
  }
}
main#index section.contact {
  background-color: #ffffff;
  color: #212121;
  padding-top: 40px;
  padding-bottom: 50px;
}
main#index section.contact h4 {
  font-size: 30px;
  text-transform: uppercase;
}
main#index section.contact a.toContact {
  background: #f8be52;
  margin-top: 20px;
}

main.contact {
  background: url("../images/contact.jpg");
  background-size: cover;
  padding: 120px 0;
}

.contactForm {
  border-radius: 5px;
  background: #e6e6e6;
  position: relative;
}
.contactForm .success {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(30, 100, 30, 0.5);
  text-align: center;
}
.contactForm .success h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 2px 2px 10px #212121;
}
.contactForm header.formHeader {
  text-align: center;
  margin: 10px 30px 60px 30px;
  border-bottom: 2px solid #212121;
}
.contactForm header.formHeader h1 {
  font-family: inherit;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.contactForm header.formHeader p {
  text-align: left;
}
.contactForm footer.formFooter {
  margin: 30px;
  padding: 60px 0 30px 0;
  text-align: center;
  border-top: 2px solid #212121;
}
.contactForm footer.formFooter input {
  padding: 15px 40px;
  border-radius: 5px;
  background: #8a97c6;
  cursor: pointer;
  border: none;
  transition: 300ms ease;
}
.contactForm footer.formFooter input:hover {
  background: #16559f;
  color: #ffffff;
}

main.services {
  padding-bottom: 30px;
}
main.services h1, main.services h2 {
  text-align: center;
  font-family: inherit;
}
main.services h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 50px 0;
}
main.services h2 {
  font-size: 30px;
  margin: 10px;
}
main.services ul {
  list-style: none;
  padding: 0;
  margin: 60px 0;
}
main.services ul li {
  padding-left: 1em;
  margin-bottom: 10px;
}
main.services ul li::before {
  content: "- ";
  font-size: 60px;
  color: white;
  line-height: 0;
  color: inherit;
  vertical-align: middle;
}
main.services div.centerWrapper {
  text-align: center;
  padding: 30px 0;
}
main.services div.servicesSlider {
  animation: bgSwitch ease 9s infinite;
  background-size: auto 100%;
}
main.services div.servicesSlider.copro {
  background: url("../images/copro.png");
}
main.services div.servicesSlider.pro {
  background: url("../images/pro.png");
}
main.services div.servicesSlider.ponctu {
  background: url("../images/ponctu.png");
}

@keyframes bgSwitch {
  0% {
    background-position: 0px 100%;
  }
  30% {
    background-position: 0px 100%;
  }
  33% {
    background-position: 1125px 100%;
  }
  63% {
    background-position: 1125px 100%;
  }
  66% {
    background-position: 2250px 100%;
  }
  97% {
    background-position: 2250px 100%;
  }
  100% {
    background-position: 3375px 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.clearBoth {
  clear: both;
}

.yellow {
  background: #f8be52;
  color: #212121;
}

.lightBlue {
  background: #8a97c6;
  color: #212121;
}

.blue {
  background: #16559f;
  color: #ffffff;
}

a.toContact {
  display: inline-block;
  padding: 2px 0 0 20px;
  border-radius: 5px;
  border: thin solid #212121;
  color: #212121;
  text-decoration: none;
  transition: 300ms ease;
  background: #8a97c6;
}
a.toContact.blue {
  border: thin solid #ffffff;
}
a.toContact img {
  height: 40px;
  vertical-align: middle;
}
a.toContact:hover {
  background: #ffffff !important;
}

/*# sourceMappingURL=style.css.map */
