main.mentions{
	margin-top: 60px;
	margin-bottom: 60px;
	h1, h2{
		color: $textColor;
		font-family: inherit;
	}

	h1{
		text-align: center;
		font-size: 40px
	}

	h2{
		font-size: 30px;
	}

	a{
		color: inherit;
		text-decoration: underline;
		&:hover{
			text-decoration: none
		}
	}
	p{
		margin-left: 15px;
		text-align: justify;
		font-size: 12px;
	}
}